.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 111, 255, 0.41);
    border-bottom: 1px solid rgba(0, 111, 255, 0.41);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: rgba(0, 111, 255, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
